.VisaDetails-title {
  width: 248px;
  height: 34px;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5a2c1d;
}

.VisaDetails-main {
  padding: 50px 120px;
}

.Your-Booking-Appoint {
  margin-top: 20px;
  width: 250px;
  height: 20px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #924728;
}
