.ServiceCenter-title {
  color: #2E86C1;
  font-size: 18px;
}

.ServiceCenter-main {
  margin: '0 150px';
}

.ServiceCenter-title2 {
  color: #154360;
  font-size: 24px;
  margin-top: 20px;
}

.ServiceCenter-lable {
  width: 215px;
  height: 20px;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 17px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #924728;
}

.ServiceCenter-button {
  width: 181px;
  height: 50px;
  object-fit: contain;
  border-radius: 5px;
  background-image: linear-gradient(to right, #438736, #944527);
}
