.Home {
}
.Home-image {
  width: 100%;
  height: 780px;
  object-fit: contain;
  opacity: 0.4;
  background-image: linear-gradient(to right, #438736, #944527);
  padding: 54px 106px;
}

.Rectangle-2-Copy-2 {
  width: 26.4px;
  height: 17.6px;
  object-fit: contain;
  border-radius: 2.4px;
}

.AU---English {
  width: 77px;
  height: 17px;
  font-family: Montserrat;
  font-size: 12.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #ffffff;
}
