.Group {
  width: 220px;
  height: 30px;
  object-fit: contain;
}

.Header {
  padding: 54px 109px 30px 109px;
  border-bottom: solid 2px #eaedf2;
}



.Header-menuItem {
  margin-left: 30px;
}

.Book-an-Appointment {
  width: 166px;
  height: 19px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #458535;
  border-bottom: 3px solid #5a2c1d;
}

.Manage-Appointment {
  width: 165px;
  height: 19px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #5a2c1d;
}

.How-to-Book {
  width: 109px;
  height: 19px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.27;
  letter-spacing: normal;
  color: #5a2c1d;
}

.Rectangle-2-Copy-2 {
  width: 26.4px;
  height: 17.6px;
  object-fit: contain;
  border-radius: 2.4px;
}

.AU---English-header {
  width: 77px;
  height: 17px;
  font-family: Montserrat;
  font-size: 12.8px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: right;
  color: #4a4a4a;
  margin-left: 10px;
}
