.Footer {
  width: 100%;
  height: 567px;
  background-color: #562617;
  display: flex ;
  flex-flow: column;
  align-items: center;
}
.Footer-logo {
  width: 244px;
  height: 35px;
  object-fit: contain;
  margin-top: 86px;
}

.Group-Copy-14 {
  width: 19px;
  height: 22px;
  object-fit: contain;
  background-color: #000000;
}

.Footer-social {
  margin-top: 40px;
  width: 200px;
  text-align: center;
}

.Footer-details {
  margin: 50px;
}

.Footer-text1 {
  font-family: Montserrat;
  width: 83px;
  height: 18px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-left: 20px;
}
.Footer-textHeader {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.Footer-details {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0 100px;
}

.Footer-item {
  margin-top: 20px;
}
